.container {
  padding: 0 200px 0 200px;
}

.carousel {
  position: relative;
  display: flex;
  height: 400px;
  width: 100%;
}
.carousel img {
  position: absolute;
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.control {
  position: absolute;
}
.prev {
  left: 0;
  top: 50%;
}

.next {
  right: 0;
  top: 50%;
}
.carousel-details {
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  height: 15%;
  width: 100%;
  bottom: 0;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-details > h2,
p {
  padding: 0;
  margin: auto;
}
