* {
  padding: 0;
  margin: 0;
}
.container {
  padding: 50px;
  background: #5c6bc0;
}
.header {
  background: white;
  padding: 10px;
}
.header-pargraph {
  font-size: 12px;
}

.carousel {
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  height: 250px;
}
.carousel-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.list-ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.next {
  position: absolute;
  top: 50%;
  right: 10px;
}

.pre {
  position: absolute;
  top: 50%;
  left: 10px;
}
