<ul class="list-group">
  <li class="list-item" *ngFor="let a of airlines; let i = index">
    <a class="user-link" *ngIf="i + 1 === airlines.length" #theLastList>
      <img [src]="a.airline.logo" />
      <span>
        <p>
          <span class="list-item-heading">Airline</span>: {{ a.airline.name }}
        </p>
        <p><span class="list-item-heading">Name</span>: {{ a.name }}</p>
      </span>
    </a>
    <a class="user-link" *ngIf="i + 1 != airlines.length">
      <img [src]="a.airline.logo" />
      <span>
        <p>
          <span class="list-item-heading">Airline</span>: {{ a.airline.name }}
        </p>
        <p><span class="list-item-heading">Name</span>: {{ a.name }}</p>
      </span>
    </a>
  </li>
</ul>
