<section class="container">
  <div class="row">
    <div class="col-100">
      <div class="input-box">
        <label for="search">Search</label>
        <input type="text" (keyup)="onSearch($event)" />
      </div>
    </div>
    <div class="col-100 py-20">
      <ul class="list-group">
        <li class="list-item" *ngFor="let n of books$ | async">
          <img [src]="n.volumeInfo.imageLinks.thumbnail" />
          <p>
            {{ n.volumeInfo.title }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
