<div class="input-box">
  <label for="search">Search</label>
  <input type="text" name="search" [(ngModel)]="searchValue" />
</div>
<ul class="list-group">
  <li
    class="list-item"
    *ngFor="let p of (this.project$ | async)?.data | filter: searchValue"
  >
    <a [routerLink]="['/projects', p.id]">
      <p><span class="list-item-heading">Id</span>: {{ p.id }}</p>
      <p>
        <span class="list-item-heading">Project Name</span>:
        {{ p.project_name }}
      </p>
      <p>
        {{ p.description }}
      </p>
    </a>
  </li>
</ul>
