<div class="header">
  <div class="logo">
    <h3><a href="#">Kira Stack</a></h3>
  </div>

  <div class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">Angular</a></li>
      <li class="nav-item"><a href="#">React</a></li>
      <li class="nav-item"><a href="#">JavaScript</a></li>
      <li class="nav-item"><a href="#">Java</a></li>
    </ul>
  </div>
</div>

<section class="container">
  <label>Frame Work</label>
  <select (change)="onFWChange($event)">
    <option *ngFor="let n of framework" [value]="n">
      {{ n }}
    </option>
  </select>
  <br />
  <label>Colors</label>
  <select (change)="onColorChange($event)">
    <option *ngFor="let n of color" [value]="n">
      {{ n }}
    </option>
  </select>
</section>
