{{ CustomerForm.value | json }}
<br />
{{ CustomerForm.invalid | json }}

<div class="container">
  <form [formGroup]="CustomerForm" (submit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Name</label>
        <input
          type="text"
          class="form-control form-control-sm"
          [ngClass]="
            (CustomerForm.get('name').touched ||
              CustomerForm.get('name').dirty) &&
            CustomerForm.get('name').hasError('required')
              ? 'is-invalid'
              : '' || CustomerForm.get('name').hasError('minlength')
              ? 'is-invalid'
              : '' ||
                ((CustomerForm.get('name').touched ||
                  CustomerForm.get('name').dirty) &&
                  !CustomerForm.get('name').invalid)
              ? 'is-valid'
              : ''
          "
          formControlName="name"
        />
        <div class="invalid-feedback">
          {{
            CustomerForm.get("name").hasError("required")
              ? " Name is required"
              : ""
          }}
          {{
            CustomerForm.get("name").hasError("minlength")
              ? " 5 letters required"
              : ""
          }}
        </div>
      </div>
    </div>

    <p>Cell Phones</p>
    <div formArrayName="cellPhones">
      <div
        class="form-row"
        *ngFor="let phone of getCellPhones().controls; let i = index"
        [formGroupName]="i"
      >
        <div class="form-group col-md-3">
          <label>Area</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="area"
          />
        </div>
        <div class="form-group col-md-3">
          <label>Prefix</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="prefix"
          />
        </div>
        <div class="form-group col-md-3">
          <label>Line</label>
          <input
            type="text"
            class="form-control form-control-sm"
            formControlName="line"
          />
        </div>
        <div class="form-group col-md-3">
          <button
            type="button"
            (click)="removeCellPhone(i)"
            class="btn btn-primary mr-2"
          >
            Remove
          </button>
        </div>
      </div>
    </div>

    <!-- <p>Cell Phone</p>
    <div class="form-row" formGroupName="cellPhone">
      <div class="form-group col-md-4">
        <label>Area</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="area"
        />
      </div>
      <div class="form-group col-md-4">
        <label>Prefix</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="prefix"
        />
      </div>
      <div class="form-group col-md-4">
        <label>Line</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="line"
        />
      </div>
    </div>
    <p>Home Phone</p>
    <div class="form-row" formGroupName="homePhone">
      <div class="form-group col-md-4">
        <label>Area</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="area"
        />
      </div>
      <div class="form-group col-md-4">
        <label>Prefix</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="prefix"
        />
      </div>
      <div class="form-group col-md-4">
        <label>Line</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="line"
        />
      </div>
    </div> -->

    <button type="button" (click)="addPhone()" class="btn btn-primary mr-2">
      Add Cell Phone
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="CustomerForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
