<div class="header">
  <div class="logo">
    <h3><a href="#">Kira Stack</a></h3>
  </div>

  <div class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">Angular</a></li>
      <li class="nav-item"><a href="#">React</a></li>
      <li class="nav-item"><a href="#">JavaScript</a></li>
      <li class="nav-item"><a href="#">Java</a></li>
    </ul>
  </div>
</div>

<section class="container">
  <button class="btn btn-primary" type="button" (click)="getData()">
    <span *ngIf="isBusy">
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Fetching Data
    </span>
    <span *ngIf="!isBusy"> Fetch Data </span>
  </button>

  <p>
    Status :
    <span [ngClass]="status === 'success' ? 'text-success' : 'text-danger'">
      {{ status }}
    </span>
  </p>

  <ul class="list-group mt-4">
    <li class="list-group-item" *ngFor="let n of data">{{ n }}</li>
  </ul>
</section>
