<button
  class="primary-btn"
  [routerLink]="['/projects', project?.id]"
  [queryParams]="{ editMode: true }"
>
  Edit
</button>

<form [formGroup]="projectForm" *ngIf="projectForm">
  <div class="row">
    <div class="col-50">
      <div class="input-box">
        <label for="project">Project</label>
        <input type="text" name="project_name" formControlName="project_name" />
      </div>
    </div>
    <div class="col-50">
      <div class="input-box">
        <label for="consultant_name">Consultant Name</label>
        <input type="text" formControlName="consultant_name" />
      </div>
    </div>
    <div class="col-50">
      <div class="input-box">
        <label for="github_link">Github</label>
        <input type="text" formControlName="github_link" />
      </div>
    </div>
    <div class="col-50">
      <div class="input-box">
        <label for="video_link">Video</label>
        <input type="text" formControlName="video_link" />
      </div>
    </div>
    <div class="col-50">
      <div class="input-box">
        <label for="video_link">Description</label>
        <textarea type="text" formControlName="description"></textarea>
      </div>
      <button class="primary-btn" *ngIf="editMode">Save</button>
    </div>
  </div>
</form>
