.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 1px solid #ccc;
  background: white;
}
button {
  margin: 10px;
}
